body {
	/* background-color: hsl(218, 85%, 3%); */
    background: #2c3e50;

}

.categories_profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* -----------------------------------------------Home------------------------------------------ */
.landing {
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.start_btns a {
	margin-right: 10px;
}

.right {
    display: flex;
    flex-direction: column;
}

.text_part h3, .text_part p {
    color: rgb(233, 233, 233);
}

@media screen and (max-width: 780px) {

	.landing{
		height: 650px;
	}

	.landing {
		flex-direction: column-reverse;
    }
}

/* ------------------------------------------------------------ Events ------------------------------------------------- */
.event_card {
	height: 20vh;
	background-color: hsl(0, 0%, 13%);
	background-color:rgb(36, 45, 66);
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
    padding: 20px;
    position: relative;
}

.datetag {
    position: relative;
    left: 35%;
    bottom: 15%;
    padding: 5px 5px;
    border-radius: 5px;
    background-color:#ff006a ;
    color: #fff;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);

}

.event_card h4,.event_card p {
	color: rgb(219, 208, 208);
	color: rgb(235, 233, 233);

}

.top {
	margin-top: 5vh;
}

.heading h3 {
	text-align: center;
	color: rgb(231, 231, 231);
	/* position: relative; */
}

.message_section {
	border-radius: 10px;
	margin: 2vh 10vw;
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    border: 2px solid white;
	/* background-color: rgb(131, 66, 66); */
}

.message_section h4 {
	color: rgb(221, 218, 210);
	text-align: center;
}

.search_and_sort {
    display: flex;
    justify-content: space-around;
}

.formArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

@media screen and (max-width: 780px) {  
    .search_and_sort {
        flex-direction: column;
    }
}

/* ------------------------------------------------------------ subeventlist -------------------------------------------------- */
.event_people{
	margin-bottom: 20vh;
}

/*   copied  */
.box-element{
	box-shadow:hsl(0, 0%, 28%) 0 0 16px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	padding: 10px;
}


.col-lg-12{
	margin-top: 10px;
}


.row-image{
	width: 100px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.add_people {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2rem;
}
.add_people h3 {
    color: rgb(233, 233, 233);
    text-align: center;
}

.add_people h3::after {
    content: "";
    background: #dddddd;
    width: 250px;
    height: 2px;
    border-radius: 5px;
    margin: auto;
    display: grid;
}

@media screen and (max-width: 780px) { 

    .add_people h3 {
        font-size: 22px;
    }
    .add_people h3::after {
        left: 21%;
        width: 200px;
    }
}
/* ------------------- ------------------------------Train ------------------------------------------- */

.name_wrapper {
	height: 12vh;
	border-radius: 20px;
	background-color: hsl(240, 12%, 8%);
	display: flex;
	align-items: center;

}

.name_of_person {
	flex: 3;
	margin: 0 5vw;
}

.camera {
	margin: 1vh 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.select_img {
    /* border: 1px solid #ccc; */
    padding: 6px 12px;
    cursor: pointer;
}

::-ms-browse {
    background: #007bff;
    color: rgb(240, 233, 233);
    padding: 0.25em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

::-webkit-file-upload-button {
    background: #007bff;
    color: rgb(240, 233, 233);
    padding: 0.25em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

.camera_and_pic {
	display: flex;
}

/* ----------------------------------------------------------- subevent -------------------------------------- */
/*   UNABLE TO LOCATE SUBEVENT CLASSES FROM HERE. DON'T KNOW WHY */
/* .verification {
	margin-top: 40vh;
	background-color: #CC00FF;
} */

.camera_top {
    margin: 5vh 0;
    display: flex;
    justify-content: space-around;
}

.camera_and_pic {
	display: flex;
	justify-content: space-between;
	/* height: 80vh; */
}

.img_field {
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.camButtons {
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	gap: 1rem;
}

/* ---------------------------------------------------------- attendence --------------------------------------------- */
.attendence {
    margin-top: 2vh;
}

/* ------------------------------------------------------------ log out ------------------------------------------- */
.logout_screen{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logout_screen h4 {
	color: rgb(207, 198, 198)
}

/* ----------------------------------------------------------- login------------------------------------------------------- */


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.register_messages {
	text-align: center;
	color: #ececec;
	/* box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	box-shadow:hsl(0, 0%, 5%) 0 0 16px;
	background-color: rgb(37, 36, 36);
	border-radius: 4px;
	height: 20vh;
	width: 30vw; */
	/* padding: 10px; */
}

.contact_form {
	background-color:hsl(228, 11%, 9%);
    background-color: #2c3e50;
	padding: 4vh 6vw;
	border-radius: 20px;
}

.register {
	margin-top: 20vh;
}

.a {
	color: #333;
	font-size: 18px;
	text-decoration: none;
	margin: 15px 0;
}

form {
	background-color: hsl(218, 85%, 3%);
    background-color: #2c3e50;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form_input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

@media screen and (max-width: 780px) {

	form {
		padding: 0 10px;
	}

}

/* ------------------------------------ Timeline ------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

/* .starting_guide {
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin: 0;
} */

h1 {
	text-align: center;
}


.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container::after {
    background-color: #e17b77;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}


.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
    max-width: 350px;
}


.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

}

.header {
    margin:5vh 0;
    text-align: center;
    font-size: 2.8em;
    color: #f1f1f1;
  }

.header::after {
      content: "";
      background: #f1f1f1;
      width: 380px;
      height: 5px;
      border-radius: 5px;
      margin: auto;
      display: grid;
      /* justify-content: center; */
  }
  
.login {
    display: flex;
    justify-content: center;
    align-items: center;
	min-height: 40vh;
  }

  
  .formStyle { 
    background-color: hsl(218, 85%, 3%);
    background-color: #2c3e50;
    padding: 20px; 
    width: 400px; 
    margin-bottom: 20px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ecf0f1; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1em;
    font-weight: 100;
    color: #ffffff;
  }
  
  
  /*To remove the outline that appears on clicking the input textbox*/
  input:focus {
    outline: none;
  }
  
select:focus {
    outline: none;
}
  /* To format the placeholder text color */
  ::-webkit-input-placeholder {
     color: #ecf0f1;
     font-size: 20px;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     color: #ecf0f1;  
     font-size: 20px;

  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #ecf0f1;  
     font-size: 20px;

  }
  
  :-ms-input-placeholder {  
     color: #ecf0f1;  
     font-size: 20px;

  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=file] {
    /* -webkit-appearance: none;
    -moz-appearance: textfield; */
    /* display: none; */
    background-color:  hsl(218, 85%, 3%);
    background-color: #2c3e50;
    color: white;
  }

@media screen and (max-width: 780px) { 

    .login {
        display: block;
    }
    .header {
        font-size: 22px;
    }

    .header::after {
        left: 21%;
        width: 200px;
    }

    .formStyle {
        width: 100%;
    }
}