body {
	background-color: hsl(218, 85%, 3%);

}

.categories_profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* -----------------------------------------------Home------------------------------------------ */
.landing {
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* background-color: hsl(213, 82%, 4%); */
	/* background-color: hsl(223, 91%, 5%); */
    
}

.start_btns a {
	margin-right: 10px;
}

.right {
    display: flex;
    flex-direction: column;
}

.text_part h3, .text_part p {
    color: rgb(201, 182, 182);
}

.btn {
    background-color: #ff006a;
    color: rgb(241, 235, 235);
    font-size: 18px;
	font-weight: 500;
	/* transition: transform .8s */
}
.btn:hover {
	/* transform: scale(1.1); */
	color: white;
}

@media screen and (max-width: 780px) {

	.landing{
		height: 650px;
	}

	.landing {
		flex-direction: column-reverse;
    }
}

/* ------------------------------------------------------------ Events ------------------------------------------------- */
.event_card {
	height: 20vh;
	width: 100%;
	background-color: hsl(240, 12%, 8%);
	/* background-color: #7d7a92; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	margin: 2vh 0;
	/* box-shadow:  4px 4px 7px 3px #141414; */

}

.event_card h4,.event_card p {
	color: rgb(219, 208, 208);
}

.top {
	margin-top: 10vh;
}

.heading{
	margin-top: 15vh;
}

.heading h3 {
	text-align: center;
	color: rgb(190, 184, 184);
	/* position: relative; */
}


.event_section {
	/* margin-top: 20vh; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.message_section {
	border-radius: 10px;
	margin: 5vh 0;
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(131, 66, 66);
}

.message_section h4 {
	color: rgb(212, 206, 193);
	text-align: center;
}
/* ------------------------------------------------------------ subeventlist -------------------------------------------------- */
.event_people{
	margin-bottom: 20vh;
}

/*   copied  */
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}


.col-lg-12{
	margin-top: 10px;
}


.row-image{
	width: 100px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}


/* ------------------- ------------------------------Train ------------------------------------------- */

.name_wrapper {
	height: 12vh;
	border-radius: 20px;
	background-color: hsl(240, 12%, 8%);
	display: flex;
	align-items: center;

}

.name_of_person {
	flex: 3;
	margin: 0 5vw;
}

.camera {
	margin: 1vh 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.select_img {
	margin: 4vh 0;
}

.camera_and_pic {
	display: flex;
}

/* ----------------------------------------------------------- subevent -------------------------------------- */
/*   UNABLE TO LOCATE SUBEVENT CLASSES FROM HERE. DON'T KNOW WHY */
/* .verification {
	margin-top: 40vh;
	background-color: #CC00FF;
} */

.camera_and_pic {
	display: flex;
	justify-content: space-around;
	/* height: 80vh; */
}

.img_field {
	margin-top: 12vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

/* .btnss {
	display: flex;
	justify-content: space-around;
} */

.camButtons {
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	gap: 1rem;
}

/* ---------------------------------------------------------- attendence --------------------------------------------- */
.attendence {
	margin-top: 10vh
}

/* ------------------------------------------------------------ log out ------------------------------------------- */
.logout_screen{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logout_screen h4 {
	color: rgb(197, 181, 181)
}

/* ----------------------------------------------------------- login------------------------------------------------------- */


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.register_messages {
	text-align: center;
	color: #ececec;
}

.contact_form {
	background-color:hsl(228, 11%, 9%);
	padding: 4vh 6vw;
	border-radius: 20px;
}

.form_wrapper {
	width: 100%;
	margin-top:5vh ;
}

.register {
	margin-top: 20vh;
}

.a {
	color: #333;
	font-size: 18px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form_input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

@media screen and (max-width: 780px) {

	form {
		padding: 0 10px;
	}

}





/* ------------------------------------ Timeline ------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

/* .starting_guide {
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin: 0;
} */

h1 {
	text-align: center;
}


.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container::after {
    background-color: #e17b77;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}


.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
    max-width: 350px;
}


.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

}

